html, body { margin: 0; padding: 0; height: 100%; }

#system { height: 100%; }

div.info {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 20em;
  background-color: rgba(255,255,255, 0.5);
  z-index: 2;
}
